html,body {
  margin: 0;
  padding: 0;
    height: 100%;
}
.slider {
  width: 1024px;
  margin: 1em auto;
  
}
.navbar{
    background-color:#090c50;
    opacity: ;
}
.dropdown-menu{
    background-color: ;
}
#con1{
    padding: 0px;
}
#con2{padding: 0px;
    margin-top: 15px;
    margin-bottom: 20px;
}

.holder { 
  background-color:#ccc;
  width:100%;
  height:170px;
  overflow:hidden;
  padding:10px;
  font-family:Helvetica;
}
.holder .mask {
  position: relative;
  left: 0px;
  top: 20px;
  width:100%;
  height:100%;
  overflow: hidden;
}
.holder ul {
  list-style:none;
  margin:0;
  padding:0;
  position: relative;
}
.holder ul li {
  padding:10px 0px;
}
.holder ul li a {
  color:darkred;
  text-decoration:none;
}

img {
    max-width: 100%;
    height: auto;
}


